

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- title -->
    <title>Notes - Market Place</title>

    <!-- Favicon-for icon if website title -->
    <link rel="shortcut icon" href="~/img/favicon.ico">
</head>
<body>
    <div>
        <h2>@ViewBag.Message</h2>
        <h3>@Html.ActionLink("Login", "Login")</h3>
    </div>
</body>
</html>
