
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Message    @Html.ActionLink("Login", "Login")</h3>
</div>
</body>
</html>
